.sidebar {
  width: 100px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 200;
  top: 70px;
  left: 0px;
  bottom: 0px;
  padding-top: 20px;
  
}
.sidebar-toolkit {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;

}
.sidebar-toolkit img {
  height:36px ;
  padding-bottom: 8px;
}
.sidebar div{
  font-family: arial;
  font-size: 13px;
}
.sidebar-toolkit:hover {
  background-color: rgb(206, 206, 206);
}
